/* Add CSS Styling */

.odd-num {
    background-color: #f12929c7;
    font-family: "Verdana","DejaVu Sans", sans-serif;
}

#even-num.second {
    color: blue;
    font-size: 36px;
}

.odd-num.third {
    font-size: 24px;
}

#even-num.fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}